<div class="page-header">
    <h1>Parashoot</h1>
</div>

<nav class="navbar navbar-light bg-light">
  <ul class="nav navbar-left">
      <li class="nav-item btn"><a href="/main">Home</a></li>
      <li class="nav-item btn"><a href="/about">About</a></li>
      {{!-- <li class="nav-item btn"><a href="/dashboard">Dashboard</a></li> --}}
  </ul>

  <ul class="nav navbar-right">
      <li class="nav-item btn"><a href="/signup">Sign Up</a></li>
      {{!-- <li class="btn"><a href="/login">Log In</a></li> --}}
      {{!-- <li class="btn"><a href="/logout">Log Out</a></li> --}}
  </ul>
</nav>