<div class="d-flex flex-row justify-content-around mt-3">

      <div>
    <a href="/main"><img src="/img/home.png" width="70px"></a>
  </div>
    <div class="icon ">
        <a href="/newstatus"><img src="/img/newstatus.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/map"><img src="/img/map.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/chat"><img src="/img/chat.png" width="70px"></a>
    </div>
    <div class="icon ">
        <a href="/logout"><img src="/img/logout.png" width="70px"></a>
    </div>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Что: приложение для блогеров, в котором по геолокации можно найти людей рядом, чтобы делать друг другу контент для
                        инстаграм и коллаборации для кросс-промо.</p>
                    <p class="aboutus-text">Для кого: для девушек, начинающих блогеров, путешественников.</p>
                       <p class="aboutus-text">Для чего: для создания контента, для коллабораций. По карте можно быстро и просто найти людей рядом.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="https://mk0careergirlda22ty0.kinstacdn.com/wp-content/uploads/2017/07/unnamed-file-1.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>



