<div class="btn btn-danger">
  chat
</div>
<div class="d-inline-flex p-2">
  <div>
    <a href="/main"><img src="/img/home.png" width="70px"></a>
  </div>
  <div>
    <a href="/logout"><img src="img/logout.png" width="70px"></a>
  </div>
</div>


