<nav class="navbar navbar-light bg-light">
    <ul class="nav navbar-left">
        <li class="nav-item btn"><a href="/main">Home</a></li>
        <li class="nav-item btn"><a href="/about">About</a></li>
        {{!-- <li class="nav-item btn"><a href="/dashboard">Dashboard</a></li> --}}
    </ul>

    <ul class="nav navbar-right">
        <li class="nav-item btn"><a href="/signup">Sign Up</a></li>
        {{!-- <li class="btn"><a href="/login">Log In</a></li> --}}
        {{!-- <li class="btn"><a href="/logout">Log Out</a></li> --}}
    </ul>
</nav>

<div class="main d-flex justify-content-center">
    <div class="jumbotron col-sm-4 pull-center loginForm center mt-5">
        <form action="/login" method="post">
        <p class="btn btn-danger">login</p>
            <div class="mb-3">
                <input type="text" name="username" placeholder="username" />
            </div>
            <div>
                <input type="password" class="mb-3" name="password" placeholder="password" />
            </div>
            <div class="mb-3">
                <input class="btn btn-danger" type="submit" value="Log In" />
            </div>
            <div class="d-flex">
                <div class="icon mr-3">
                    <a href="https://www.instagram.com/"><img src="/img/intagram.png" width="70px"></a>
                </div>
                <div class="icon">
                    <a href="https://www.facebook.com/"><img src="/img/facebook.png" width="70px"></a>
                </div>
            </div>
        </form>
    </div>
</div>