<div class="d-flex flex-row justify-content-around mt-3">

    <div class="icon ">
        <a href="/main"><img src="/img/home.png" width="70px"></a>
    </div>
    <div class="icon ">
        <a href="/newstatus"><img src="/img/newstatus.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/map"><img src="/img/map.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/chat"><img src="/img/chat.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/about"><img src="/img/about.png" width="70px"></a>
    </div>
    <div class="icon ">
        <a href="/logout"><img src="/img/logout.png" width="70px"></a>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <ul class="nav navbar-left">
        <li class="nav-item btn"><a href="/main">Home</a></li>
        {{!-- <a class="nav-item btn"><a href="/signup">Sign Up</a></a> --}}
        {{!-- <a class="nav-item btn"><a href="/dashboard">Dashboard</a></a> --}}
    </ul>

    <ul class="nav navbar-right">
        {{!-- <a class="btn"><a href="/login">Log In</a></a> --}}
        <li class="btn"><a href="/logout">Log Out</a></li>
    </ul>
</nav>
<div class="container row">
    <h1>Hi, Welcome to your Dashboard</h1>
    <div style="overflow:hidden;width: 900px;position: relative;" class="justify-content-center align-items-center">
        <iframe width="100%" height="500"
            src="https://maps.google.com/maps?width=900&amp;height=500&amp;hl=en&amp;q=Moscow%2C%20Russia+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div
            style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
            <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
                    href="https://embedgooglemaps.com/fr/">embedgooglemaps FR</a> & <a
                    href="https://iamsterdamcard.it">iamsterdam card.it</a></small></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
    </div><br />
</div>