




<script src="https://api-maps.yandex.ru/2.1/?apikey=8569ec41-a878-42b7-abb8-de43069828c5&lang=ru_RU"
    type="text/javascript"></script>
  <script type="text/javascript">


    ymaps.ready(function () {
      var myMap = new ymaps.Map('map', {
        center: [55.751574, 37.573856],
        zoom: 9
      }, {
        searchControlProvider: 'yandex#search'
      }),

        // Создаём макет содержимого.
        MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
          '<div style="color: #black; font-weight: bold;">$[properties.iconContent]</div>'
        ),

        user = new ymaps.Placemark(myMap.getCenter(), {
          hintContent: 'Хочу новых фото!',
          balloonContent: '<a href="/profile/5d9f4823c61f6833ccb0650d">Хочу новых фото!',
          iconContent: 'You'
        }, {
          // Опции.
          // Необходимо указать данный тип макета.
          iconLayout: 'default#imageWithContent',
          // Своё изображение иконки метки.
          iconImageHref: '/img/profile.png',
          // Размеры метки.
          iconImageSize: [40, 40],
          // Смещение левого верхнего угла иконки относительно
          // её "ножки" (точки привязки).
          iconImageOffset: [0, 0],
          // Смещение слоя с содержимым относительно слоя с картинкой.
          iconContentOffset: [6, 25],
          // Макет содержимого.
          iconContentLayout: MyIconContentLayout
        }),

        brad = new ymaps.Placemark([55.661574, 37.573856], {
          hintContent: 'Готов поснимать тебя',
          balloonContent: 'Готов поснимать тебя</a>',
          iconContent: 'Brad',
        }, {
          iconLayout: 'default#imageWithContent',
          iconImageHref: '/img/brad.png',
          iconImageSize: [40, 40],
          iconImageOffset: [0, 0],
          iconContentOffset: [5, 25],
          iconContentLayout: MyIconContentLayout
        });
        britney = new ymaps.Placemark([55.76, 37.59], {
          hintContent: 'Ищу девушек для совместных съемок',
          balloonContent: 'Ищу девушек для совместных съемок',
          iconContent: 'Britney',
        }, {
          iconLayout: 'default#imageWithContent',
          iconImageHref: '/img/britney.png',
          iconImageSize: [40, 40],
          iconImageOffset: [0, 0],
          iconContentOffset: [5, 25],
          iconContentLayout: MyIconContentLayout
        });
        kate = new ymaps.Placemark([55.707817, 37.590692], {
          hintContent: 'Сижу в Шоколаднице, есть идеи для фото',
          balloonContent: 'Сижу в Шоколаднице, есть идеи для фото',
          iconContent: 'Kate',
        }, {
          iconLayout: 'default#imageWithContent',
          iconImageHref: '/img/kate.png',
          iconImageSize: [40, 40],
          iconImageOffset: [0, 0],
          iconContentOffset: [5, 25],
          iconContentLayout: MyIconContentLayout
        });
        suzan = new ymaps.Placemark([55.741373, 37.620492], {
          hintContent: 'Нашла отличные интерьеры для съемок',
          balloonContent: 'Нашла отличные интерьеры для съемок',
          iconContent: 'Suzan',
        }, {
          iconLayout: 'default#imageWithContent',
          iconImageHref: '/img/suzan.png',
          iconImageSize: [40, 40],
          iconImageOffset: [0, 0],
          iconContentOffset: [5, 25],
          iconContentLayout: MyIconContentLayout
        });
      myMap.geoObjects
        .add(user)
        .add(brad)
        .add(britney)
        .add(kate)
        .add(suzan);
    });
  </script>
<div class="d-flex flex-row justify-content-around mt-3">

    <div class="icon ">
        <a href="/main"><img src="/img/home.png" width="70px"></a>
    </div>
    <div class="icon ">
        <a href="/newstatus"><img src="/img/newstatus.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/map"><img src="/img/map.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/chat"><img src="/img/chat.png" width="70px"></a>
    </div>
    <div class="icon">
        <a href="/about"><img src="/img/about.png" width="70px"></a>
    </div>
    <div class="icon ">
        <a href="/logout"><img src="/img/logout.png" width="70px"></a>
    </div>
</div>


<div class="container row">
    <div id="map" style="width: 600px; height: 400px"></div>
    <br />
</div>
