<div>
  new status
</div>
<div>
  <a href="/main"><img src="/img/home.png">home</a>
</div>
<div>
  <a href="/logout"><img src="img/logout.png">logout</a>
</div>


<form method="post" action="/main">
  <label class="input-group col-1-3">
    <input type="text" name="status">
    <span>status</span>
  </label>
  <label>
    <input type="text" name="price">
    <span>price:</span>
  </label>
  <button type="submit">Send</button>
</form>