<div class="page-header">
    <h1>Parashoot</h1>
</div>

<nav class="navbar navbar-light bg-light">
  <ul class="nav navbar-left">
      <li class="nav-item btn"><a href="/main">Home</a></li>
      <li class="nav-item btn"><a href="/about">About</a></li>
      {{!-- <li class="nav-item btn"><a href="/dashboard">Dashboard</a></li> --}}
  </ul>

  <ul class="nav navbar-right">
      <li class="nav-item btn"><a href="/signup">Sign Up</a></li>
      {{!-- <li class="btn"><a href="/login">Log In</a></li> --}}
      {{!-- <li class="btn"><a href="/logout">Log Out</a></li> --}}
  </ul>
</nav>

<div class="main d-flex justify-content-center align-items-center">
    <div class="jumbotron col-sm-4 pull-center loginForm center mt-5">
        <form action="/signup" method="post">
            <div>
                <p>Username:</p>
                <input type="text" name="username" />
            </div>
            <div>
                <p>Email:</p>
                <input type="text" name="email" />
            </div>
            <div>
                <p>Password:</p>
                <input type="password" name="password" />
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
</div>